# LTC4150 Coulomb Counter/Battery Gas Gauge

# Copyright (c) 2021 arithmetics.io
# SPDX-License-Identifier: Apache-2.0

menuconfig LTC4150
	bool "LTC4150 Coulomb Counter/Battery Gas Gauge"
	depends on NEWLIB_LIBC
	select LTC4150_TRIGGER
	help
	  Enable driver for LTC4150 Coulomb Counter/Battery Gas Gauge.

if LTC4150

choice
	prompt "Trigger mode"
	default LTC4150_TRIGGER_OWN_THREAD
	help
	  Specify the type of triggering used by the driver.

config LTC4150_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on GPIO
	select LTC4150_TRIGGER

config LTC4150_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on GPIO
	select LTC4150_TRIGGER

endchoice

config LTC4150_TRIGGER
	bool

config LTC4150_THREAD_PRIORITY
	int "Thread priority"
	depends on LTC4150_TRIGGER_OWN_THREAD && LTC4150_TRIGGER
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config LTC4150_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on LTC4150_TRIGGER_OWN_THREAD && LTC4150_TRIGGER
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # LTC4150